main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-square {
    border: 1px #CAC4CE solid;
    height: 200px;
}



.start {
    position: relative;
    height: 45px;
    width: 150px;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #CAC4CE;
    border: 2px #CAC4CE solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}   

//button animation
.start:hover,
.start:focus {
  color: #242038;
}

.start:before {
    content: "";
    position: absolute;
    background: #CAC4CE;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.09s ease-in;
  }

.start:hover:before {
    top: 0;
  }
//----------------------------------------------